// colors
$white: #fff;
$whiteish: #f5f5f5;

$grey: #777;
$grey-light: #ddd; // for text on dark background
$grey-dark: #404040; // for text on light background
$grey-transparent: rgba(0, 0, 0, 0.1); // for boxshadow

$primary: #dd2d5a;
$primary-dark: #a50031;
$primary-light: #ff6787;

$yellowish: #f3a712;
$greenish: #83b692;
$bluish: #0079cc;

.color-primary {
  color: $primary;
}

:export {
  white: $white;
  primary: $primary;
  darkGrey: $grey-dark;
  yellowish: $yellowish;
  greenish: $greenish;
  bluish: $bluish;
}
